{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="form-container">
    <form action="" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="submit" value="submit" style="background-color:#b52831;cursor:pointer;"><br>
      Don't have an account? &nbsp;<a href="{% url 'register' %}">Register now</a>
    </form>
    {% for message in messages %}
      <p style="color:red;text-align:center;">{{ message }}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}